---
layout: master
description: "I'm a software engineer weaving code in Texas."
styles:
  - home
  - posts/list
---

.mister-ridlen
  %section#about.text
    .intro
      :markdown
        Hi, there! This is my website. I'm a Christian, husband to my
        beautiful wife, and father to three wonderful kids. I make a living as a
        software engineer, solving business problems (sometimes with software).
        I've also taken a few [photos] that I'm proud of.

        If you're wondering what I'm currently up to, visit my [now page][now].

        [now]: /now/
        [photos]: /photos/

:markdown
  ---

  Feel free to get in touch directly: <#{site_config.email}>.

%section.home-columns
  .home-column
    %h2 Recent Notes
    %ul.posts-list
      - posts_sorted_by_date.first(5).each do |post|
        %li
          != link_to post[:title], post
    %p.view-more
      != link_to 'View more \u2192', '/notes'
  .home-column
    %h2 Recent Photos
    %section.photos
      - photos_sorted_by_date.first(4).each do |photo|
        .photo
          %a{href: photo.path}
            %img.thumbnail{src: photo.path(rep: :thumbnail)}
    %p.view-more
      != link_to 'View more \u2192', '/photos'
  .home-column
    %h2 Recent Links
    %ul.posts-list
      - links_sorted_by_date.first(5).each do |link|
        %li
          %a{href: link[:url]}= link[:title]
    %p.view-more
      != link_to 'View more \u2192', '/links'
