---
layout: master
description: "I'm a software engineer weaving code in Texas."
styles:
  - home
  - posts/list
---

.mister-ridlen
  %section#about.text
    .intro
      :markdown
        Hi there! This is my website. I'm a Christian, husband to my
        beautiful wife, and father to three wonderful kids. I make a living as a
        software engineer, solving business problems (sometimes with software).
        I've also taken a few [photos] I'm proud of.

        If you're wondering what I'm currently up to, visit my [now page][now].

        [now]: /now/
        [photos]: /photos/

%hr

%section.home-columns
  .home-column
    %h3 Recent Notes
    :markdown
      _Blog posts, thoughts, and other notes I've written. While I have used AI
      fairly heavily in the development of this site, the content here is all my
      own words._
    %ul.posts-list
      - posts_sorted_by_date.first(5).each do |post|
        %li
          != link_to post[:title], post
    %p.view-more
      != link_to "View more →", "/notes"
  .home-column
    %h3 Recent Photos
    :markdown
      _Photos I've taken and I'm proud of. Doesn't mean they're great. If they
      were AI-generated, they would be a lot better._
    %section.photos
      - photos_sorted_by_date.first(9).each do |photo|
        .photo
          %a{href: photo.path}
            %img.thumbnail{src: photo.path(rep: :thumbnail)}
    %p.view-more
      != link_to "View more →", "/photos"
  .home-column
    %h3 Recent Links
    :markdown
      _Links to articles, videos, and other things I've found interesting. A
      link here is not necessarily an endorsement._
    %ul.posts-list
      - links_sorted_by_date.first(5).each do |link|
        %li
          %span.icon
            != link_icon(link)
          %a{href: link[:url]}= link[:title]
    %p.view-more
      != link_to "View more →", "/links"

:markdown
  ---

  Feel free to get in touch: <#{site_config.email}>.
